{% extends 'inicio/base.html' %}
{% load static %}
{% block titulo%}Dudas Frecuentes{% endblock%}
{% block titulobreadcrumb %}Dudas Frecuentes{% endblock %}
{% block imagenbreadcrumb%}{% static "inicio/img/bg/contacto.png" %}{% endblock %}


{% block content %}

<section class="project-detail">
    <div class="container">
        <div class="lower-content">
            <div class="row">
                <div class="text-column col-lg-12 col-md-12">
                    <h2>Listado de dudas por padre de familia </h2>

                    <table class="table table-bordered mb-30">
                        <thead>
                            <tr>
                                <th>Padre de familia</th>
                                <th>Grupo</th>
                                <th>Comentario</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for duda in dudas %}
                            <tr>
                                <td>{{duda.nombre}}</td>
                                <td>{{duda.grupos}}</td>
                                <td>{{duda.mensaje}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

</section>
</section>

{% endblock %}